.App {
  text-align: center;
  background-color: #282c34;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: table;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App input#Input {
  display: inline;
}

.App button#Add {
  cursor: pointer;
  display: inline;
  bottom: 0;
}

.App p {

} 

.App input {

}

