.App {
  background-color: #6495ED;
  width: 100%;
  min-height: 100vh;
  display: table;
  font-size: calc(10px + 2vmin);
  color: #282828;
}

.App div#TimeDate {
  display: inline;
}

.App div#Weather {
  display: inline;
}

.App input#Input {
  display: inline;
  margin-left: auto;
  margin: 10px;
  padding: 7.5px;
  font-size: 15px;
  background-color: white;
  border: 2px solid white;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
}

.App button#Add {
  cursor: pointer;
  display: inline;
  padding: 7.5px;
  font-size: 15px;
  margin-top: 25px;
  background-color: white;
  border: 2px solid white;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2)
}

.App button#Add:hover {
  background-color: rgb(245, 235, 235);
  border: 2px solid  rgb(245, 235, 235);
}

.App button#Add:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.App button#Edit {
  cursor: pointer;
  display: inline;
  background-color: #ffc107;
  border: 2px solid #ffc107;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.App button#Edit:hover {
  background-color: #f0b80f;
  border: 2px solid #f0b80f;
}

.App button#Edit:active {
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.App button#Delete {
  cursor: pointer;
  display: inline;
  background-color: #FF0000;
  border: 2px solid #FF0000;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.App button#Delete:hover {
  background-color: #e21111;
  border: 2px solid #e21111;
}

.App button#Delete:active {
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.App button#Completed:active {
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.App button#seeCompleted {
  cursor: pointer;
  display: inline;
  background-color: #28a745;
  border: 2px solid #28a745;
  color: #FFFFFF;
  font-weight: bold;
  margin: 10px;
  padding: 7.5px;
  font-size: 15px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);  
}

.App p#list {
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  width: fit-content;
  border-radius: 5px;
  padding: 7.5px;
  margin: -10px;
  text-align: left;
}

.App input[type="checkbox" i] {
  /* opacity: 0; */
}

.App input[type="checkbox"]:before {
  cursor: pointer;
  content: '✖';
  padding: 10px;
  border: 2px solid #343a40;
  background-color: #343a40;
  color: white;
  border-radius: 5px;
  padding: 2.5px;
  /* font-size: 15px; */
}

.App input[type="checkbox"]:checked:before {
  content: '✔';
  background-color: #28a745;
  border: 2px solid #28a745;
  color: white;
}



